<div class="page">
  <aside class="navbar navbar-vertical navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand navbar-brand-autodark">
        <a href="#">DentalPro</a>
      </h1>
      <div class="collapse navbar-collapse" id="sidebar-menu">
        <ul class="navbar-nav pt-lg-3">
          <li class="nav-item">
            <a class="nav-link" routerLink="/agenda">
              <span class="nav-link-icon"><i class="ti ti-calendar"></i></span>
              Agenda
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pacientes">
              <span class="nav-link-icon"><i class="ti ti-users"></i></span>
              Pacientes
            </a>
          </li>
          <!-- Más secciones -->
        </ul>
      </div>
    </div>
  </aside>

  <div class="page-wrapper">
    <header class="navbar navbar-expand-md d-print-none">
      <div class="container-xl">
        <div class="navbar-nav flex-row ms-auto">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown">
              <span class="avatar avatar-sm" style="background-image: url(https://tabler-icons.io/static/avatar.png)"></span>
              <div class="d-none d-xl-block ps-2">
                <div>{{ usuario?.username || 'default' }}</div>
                <div class="mt-1 small text-muted">{{ usuario?.role || '' }}</div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <a class="dropdown-item" href="#">Perfil</a>
              <a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a>
            </div>
          </div>
        </div>
        
      </div>
    </header>

    <main class="page-body">
      <div class="container-xl">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
