<div class="page page-center">
  <div class="container-tight py-4">
    <div class="card card-md">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Asignación de roles y permisos</h2>
        <form [formGroup]="rolesForm" (ngSubmit)="guardar()">
          <div *ngFor="let rolCtrl of rolesArray.controls; let i = index" class="mb-4">
            <div class="mb-2 fw-bold text-primary">{{ rolCtrl.value.nombre | titlecase }}</div>
            <div class="row g-2">
              <div class="col-6 col-md-4" *ngFor="let permiso of permisos">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input"
  *ngIf="getPermisoControl(rolCtrl, permiso.nombre) as permisoCtrl"
  [formControl]="permisoCtrl"
  id="{{rolCtrl.value.nombre}}-{{permiso.nombre}}" />
                  <label class="form-check-label" [for]="rolCtrl.value.nombre + '-' + permiso.nombre">
                    {{ permiso.descripcion }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary w-100 mt-3" type="submit">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>
</div>
